#sk-img img{
    position: relative;
    float: left;
    width:  150px;
    height: 150px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

#sk-img{
	margin-top: 20px;
	margin-bottom: 25px;
}

#about-row{
        height: 400px;
	font-family: 'Play', sans-serif;
	color: white;
	background-image: url("C:/Users/Gene/Desktop/portfolio_website/portfolio_website/aboutpic.png");
}
        
#about-text{
    text-align: center;
        margin-top: 34px;
        color: #161B1C;
        #background-color: #f2f2f2;
        background-color: #DDECF5;
        padding-bottom: 100px;
        border-radius: 8px;
}
#about-text p{
    	font-size: 24px;
}

#about-text h3{
    font-size: 40px;
    font-family: 'Noticia Text', serif;
    weight: strong;
    padding-top: 70px;
    margin-bottom: 24px;
}

#footer{
	color: gray;
        font-family: 'Noticia Text', serif;
}

#skills-header{
	margin-top: 15px;
	margin-bottom: 30px;
        font-family: 'Noticia Text', serif;
        font-size: 50px;
       
}

.topnav{
    width: 100%;
    height: 65px;
    #background-color:#595959;
    background-color: rgb(221, 97, 74);
}

.topnav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 22px;
	#font-family: 'Play', sans-serif;
	#font-family: 'Roboto Slab', serif;
         font-family: 'Noticia Text', serif;

}

.topnav a:hover {
    color: white;
    text-decoration: none;
}

#navlinks{
    display: block;
    text-align: center;
}

.nav-link{
    list-style-type: none;
    display: inline-block;
    margin: 5px;

}

#content{
    color: #18344e;
    font-size: 16px;
    text-align: center;
    margin: auto;
    padding-bottom: 200px;
}
#content .row{
    height: 150px;
}
    
#top-logo{
    text-align: center;
    background-color: #f6f6f6;
    padding: 10px;
    margin-bottom: 45px;
    letter-spacing: 0.4em;
    color: #161B1C;
	font-family: 'Play', sans-serif;
	<!---background-image: url("C:/Users/Gene/Desktop/portfolio_website/bg_image.jpg");  --->
        
}
        #top-logo h1{
            font-family: 'Noticia Text', serif;
            font-size: 70px;
        }
        

#wrapper{
    min-height: 100%;
    position: relative;
    
}

body{
    margin: 0;
    height: 100%;
    padding: 0;
}


#box{
    background-color: #03799A;
    height: 150px;
    margin: auto;
    padding: 40px;
}

#box:hover .image {
  opacity: 0.3;
}

#box:hover .middle {
  opacity: 1;
}

.container {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.tz-gallery{
	background-color: #f6f6f6;
}

#skills-img-column{
	width: 50%;
	margin: auto;
	padding-top: 5px;
}

#skills-img-column div{
	width: 300px;
	height: 300px;
	padding: 5px;
	margin-bottom: -25px;
}

#new-skills{
	background-color: #f6f6f6;
	text-align: center;
	font-family: 'Play', sans-serif;
        margin-bottom: 0px;
        padding-bottom: 30px;
        padding-top: 15px;
}

#portfolio-row h1{
	color: #1b1b1b;
	text-align: center;
	font-family: 'Noticia Text', serif;
        font-size: 50px;
        margin-bottom: 20px;
}


#contact-row{
	height: 180px;
	text-align: center;
	background-color: #f6f6f6;
	color: #1b1b1b;

}

#contact-row h1{
    font-size: 50px;
    	font-family: 'Noticia Text', serif;
}


#top-link{
	height: 50px;
	width: 50px;
	float: right;
	margin-right: 15px;
}



html, body {
    max-width: 100%;
    overflow-x: hidden;
}





#######footer
/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network{
    margin-top: 30px;
}

/* footer social icons */

.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-circle a {
 background-color: #D3D3D3;   
}

hr.style-seven {
    margin-top: 40px;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    width: 50%
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
    
}